@import "null.scss";
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Sans:wght@400;700&display=swap');

@import "header.scss";
@import "footer.scss";

/*Тело*/
body{
  font-family:"PT Sans";
}
.container{
  max-width: 1199px;
  margin: 0 auto;
  width: 100%;
}
header{
  padding: 29px 0 33px 0;
  background-color: #fff;
}

.btn{
  height:50px;
  line-height: 50px;
  background-color: #000;
  display: inline-block;
  padding: 0px 33px;
  font-size: 15px;
  font-family:"Bebas Neue" ;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1.5px;
  &--w{
    background-color: #fff;
    color: #000;
  }
  &:fw{width: 100%;}
}
.input{
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0 18px;
  background-color: #252525;
  border: 2px solid #959595;
  height:50px;
  color: #959595;
  font-size: 15px;
}
textarea.input{
  height: 100px;
  resize: none;
  padding: 10px 18px;
} 

/*Блок_1*/

.private{
  display: flex;
  margin: 0 0 75px 0;
  &__column{
    flex: 0 0 50%;
    background-color: #000;
    &:first-child{
      background:url(../img/block_1/01.JPG) 100% 100% no-repeat;
      background-size: cover;
    }
  }
}
.private-body-content{
  max-width: 305px;
}
.private-body{
  padding: 75px 0px 75px 60px;
  &__title{
    font-size: 50px;
    text-transform: uppercase;
    color:#fff;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 5px;
    margin: 0px 0px 30px 0px;
  }
  &__text{
    font-size: 15px;
    line-height: 25px;
    color: #fff;
    margin: 0px 0px 50px 0px;
  }
}
.private-body-buttons{
  display: flex;
  align-items: center;
  &__link{
    font-family:"Bebas Neue" ;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    text-decoration: underline;
    margin: 0px 0px 0px 15px;
    letter-spacing: 1.5px;
  }
}

/*Блок_2*/

.products-body{
  display: flex;
}
.products{
  margin: 0 0 40px 0;
  &__column{
    flex: 0 0 25%;
    margin: 0 0 40px 0;
  }
}
.products-item{
  display: flex;
  flex-direction: column;
  height: 100%;
  &__image{
    display: block; 
    &--1{
      background: url(../img/block_2/01.JPG) 100% 100% no-repeat;
      padding: 0 0 70% 0;
      background-size: cover;
      margin: 0px 0px 25px 0px; 
    } 
    &--2{
      background: url(../img/block_2/02.JPG) 100% 100% no-repeat;
      padding: 0 0 70% 0;
      background-size: cover;
      margin: 0px 0px 25px 0px; 
    } 
    &--3{
      background: url(../img/block_2/03.JPG) 100% 100% no-repeat;
      padding: 0 0 70% 0;
      background-size: cover;
      margin: 0px 0px 25px 0px; 
    }
    &--4{
      background: url(../img/block_2/04.JPG) 100% 100% no-repeat;
      padding: 0 0 70% 0;
      background-size: cover;
      margin: 0px 0px 25px 0px; 
    }  
  }
  &__title{
    height: 50px;
    overflow: hidden;
    padding: 0 10px 0 0;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    color: #000;
    margin: 0px 0px 30px 0px;
    max-width: 185px;
  }
  &__text{
    flex: 1 1 auto;
    padding: 0 10px 0 0;
    font-size: 15px;
    line-height: 25px;
    margin: 0px 0px 25px 0px;
    max-width: 185px;
  }
  &__btn{
    margin: 0px 33px 29px 0px;
  }
  &__link{
    font-family:"Bebas Neue" ;
    text-decoration: underline;
    text-transform: uppercase;
    color: #000;
    display: block;
    font-size: 15px;
    letter-spacing: 1.5px;
  }
} 

/*Блок_3*/

.why-top{
  display: flex;
  background: #000;
  &__column{
    flex: 0 0 50%;
  }
  &__image{
    padding: 0 0 25% 0;
    background: url(../img/block_3/01.JPG) 100% 100% no-repeat;
    background-size: cover;
  }
  &__text{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: right;
    padding: 55px 60px 55px 0;
  }
}
.why-body{
  padding: 50px 0 0 0;
  background-color: #ebebeb;
  &__column{
    flex: 0 0 50%;
    margin: 0 0 50px 0;
  }
}
.why-body-row{
  display: flex;
  flex-wrap: wrap;
}
.why-body-item{
  display: flex;
  &__icon{
    flex: 0 0 35%;
    height: 100px;
    display: flex;
    justify-content: center;
  }
}
.why-body-item-body{
  flex: 1 1 100%;
  padding: 0 0 0 11px;
  display: flex;
  flex-direction: column;
  &__title{
    flex: 1 1 auto;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 2.5px;
  }
  &__text{
    font-size: 15px;
    line-height: 25px;
    padding: 0 15px 0 0;
  }
}

/*Блок_4*/

.contacts{
  padding: 80px 0 0 0;
  margin: 0 0 30px 0;
  &__title{
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 50px;
    letter-spacing: 5px;
    margin: 0 0 30px 0;
  }
}
.contacts-top{
  margin: 0 0 30px 0;
}
.contacts-body{
  display: flex;
  flex-wrap: wrap;
  &__column{
    flex: 0 0 50%;
    margin: 0 0 20px 0;
  }
  &__item{
    font-size: 15px;
    color: #000;
    display:flex;
    line-height: 27px;
    img{
      margin: 0 10px 0 0;
    }
  }
}
.contacts-social{
  display: flex;
  &__item{
    margin: 0 30px 0 0;
  }
}
.contacts-content{
  display: flex;
  background: #000;
  &__column{
    flex: 0 0 50%;
  }
  &__map{
    background: url(../img/block_4/google_map.png)100% 100% no-repeat;
    background-size:cover;
    padding: 0 0 50% 0;
  }
}
.contacts-content-form{
  padding: 55px 60px;
  &__title{
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: #fff;
    font-size: 25px;
    letter-spacing: 5px;
    margin: 0 0 30px 0;
  }
}
.contacts-content-form-line{
  margin: 0 0 25px 0;
}
.contacts-content-form-body{
  max-width: 555px;
}
